* { margin: 0; padding: 0; }

img {
  position: absolute;
}

#map_container {
  top:0;
  left:0;    
}

.place {
  position: absolute;
  padding: 1em;
  text-decoration: none;
  height: 10px;
  width: 10px;
  /*border: 1px solid #F2EAA2;
  border-radius: 100px;*/
  z-index: 1;
  transition: all .3s ease;
  display: inline-block;
  vertical-align: middle;
}

.place:hover, .place:focus {
  z-index: 2;
  width: 175px;
  height: 175px;
}

#dialog {
  border: medium solid gray;
  border-radius: 15px;
  /* Centering on the screen: */
  position: fixed;
  top:50%;
  left:50%;
  width:70%; 
  min-height:200px;
  margin: -13% 0 0 -35%;
  display:table;
}

#dialog_header {
  width:100%;
  height:15%;
  text-align: center;
  vertical-align: middle;
}

#dialog_title {
  width:55%;
  padding-top: 2%;
  margin-left:30%;
  float:left;
  display:table-cell;
}

#dialog_title h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.75em;
  color: #292929;
}

#close_button {
  text-align:center; float:right; color:gray; cursor:pointer;
  background: transparent none repeat scroll 0% 0%;
  border: 0px none;
  margin:none; margin-left:10px;
  padding-right: 30px;
  padding-top: 1.2%;
  font-size: 35px; font-weight: 400; font-family: monospace;
  transition: all .3s ease;
}

/*
#close_button:hover, #close_button:focus, #close_button:active {
  font-size: 50px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}*/
  
#dialog_img {
  width:40%;
  min-height:40%;
  float:left;
  display:table-column;
  cursor: pointer;
}

#dialog_img img {
  position: relative;
  top: 50%; left:50%;
  margin: 8% 0 0 -35%;
}

#dialog_text {
  margin-top: 10px;
  margin-right:5%;
  display:table-cell;
  float:left;
  width:55%;
  min-height:30%;
  cursor:auto;
}

#dialog_text p {
  font-size:10pt;
  font-family: 'Open Sans', sans-serif;
}

#dialog_audio {
  clear:both;
  padding: 1%;
  padding-bottom:2%;
  width:55%;
  float:right;
  display:table-cell;
}

#dialog_audio audio {
  position:relative;
  left:0%;
}

#transbox {
  position: fixed;
  top:5%;
  left:5%;
  bottom:5%;
  right: 5%;
  display:block;
  height: 90%;
  width: 90%;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  min-height: 250px;
  background-color: black;
  border-radius: 5px;
}

.dragscroll {
  cursor : -webkit-grab;
  cursor : -moz-grab;
  cursor : -o-grab;
  cursor : grab;
  overflow: auto;
}
.dragscroll:active {
  cursor : -webkit-grabbing;
  cursor : -moz-grabbing;
  cursor : -o-grabbing;
  cursor : grabbing;
}
